@charset "UTF-8";
body{background:url(../images/sunset_01.jpg) no-repeat;}
.topnav{background:#333;}
.topnav:after{content:"";clear:both;display:block;}
.topnav a{display:block;float:left;padding:14px 16px;font-size:17px;
color:#f2f2f2;}
.topnav a:hover{background:#ddd;color:#000;}
.active {background:#92d050;color:red;}

.topnav a.icon{display:none;}
.topnav a.icon{float:right;display:block;}

@media screen and (max-width:600px){
	/* .topnav a.icon{float:right;display:block;} */
	.topnav a:not(:first-child){display:none;}
	.topnav{position: relative;}
	.topnav a.icon{position: absolute;right:0;top:0;display:block;}
	.topnav a{
		float:none;
	}
}